body {
    background-attachment: fixed;
    background-color: hsl(34, 53%, 82%);
}

.navbar {
    background: rgba(100,100,100,.8);
    color: #ffffff;
    padding-left: 0.3cm;
}

.frame {
	min-height: 600px;
	width: 100%;
	border: 1px solid black;
}

#input {
	 font-size: 14px;
}

#svg {
	text-align: center;
    min-height: 600px;
    width: 100%;
}